<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://statics-lib.zmlearn.com/element-ui/2.8.2/theme-chalk/index.css">
	<script src="https://statics-lib.zmlearn.com/vue/2.6.6/vue.min.js"></script>
	<script src="https://statics-lib.zmlearn.com/element-ui/2.8.2/index.js"></script>
	<script src="https://statics-lib.zmlearn.com/vue-router/3.0.2/vue-router.min.js"></script>
	<script src="https://statics-lib.zmlearn.com/axios/0.18.0/axios.min.js"></script>
	<script src="https://statics-lib.zmlearn.com/vuex/3.1.0/vuex.min.js"></script>
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_1641218_uwp7vntqdta.css">
	<link rel=icon type=img/png href="./icon.png">
	<title>
		<%= webpackConfig.name %>
	</title>
</head>

<body>
	<noscript>
		<strong>We're sorry but
			<%= webpackConfig.name %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id="app"></div>
</body>

</html>